{% extends "inc/base.html" %}

{% block content %}

<h1>New question</h1>
<div class="new-question">
    <div class="row">
      <div class="col-1 new-question-title">
        Title
      </div>
      <div class="col-8">
        <input class="form-control new-question-fields new-question-title" placeholder="Enter a name...">
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        Text
      </div>
      <div class="col-8">
        <textarea class="form-control new-question-fields" rows="7" placeholder="Enter the text..."></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        Tags
      </div>
      <div class="col-8">
        <input class="form-control new-question-fields" placeholder="Enter tags...">

        <a class="btn btn-dark mb-3" href="{% url "index" %}">Ask!</a>
      </div>
    </div>
</div>

{% endblock content %}