{% extends request.user.is_authenticated|yesno:"inc/base.html,inc/base_nologin.html" %}
{% load static %}

{% block content %}

<div class="index-header">
  <h1>Hot questions</h1>
</div>
<div class="index-header">
  <h4><a href="{% url "index" %}">New questions</a></h4>
</div>

{% for question in page_obj %}
  {% include "inc/question_item.html" %}
{% endfor %}

<script src="{% static "js/jquery-3.7.0.min.js"%}"></script>
<script src="{% static "js/main.js"%}"></script>

{% include "inc/paginator.html" %}
{% endblock content %}