{% extends "inc/base.html" %}

{% block content %}

<h1>Log In</h1>
<div class="profile-settings">
    <div class="row">
      <div class="col-2 new-question-title">
        Login
      </div>
      <div class="col-8">
        <input class="form-control new-question-fields new-question-title" placeholder="Enter your login here...">
      </div>
    </div>
    <div class="row">
        <div class="col-2">
          Password
        </div>
        <div class="col-8">
            <input type="password" class="form-control" placeholder="Enter your password...">
            <div class="profile-settings-btn">
                <a class="btn btn-dark" href="{% url "index" %}">Log in!</a>
                or <a href="{% url "signin" %}">create new account</a>
            </div>
        </div>
    </div>
</div>
      
{% endblock content %}