{% extends "inc/base.html" %}
{% load bootstrap5 %}

{% load static %} 

{% block content %}

<h1>Settings: 100ma</h1>
<div class="profile-settings">
  <form novalidate action="/settings" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-7">
        {% csrf_token %}
        {% bootstrap_form form %}
      </div>
      <div class="col-5">
        <div class="settings-avatar">
          <img src="{{request.user.profile.avatar.url}}" alt="avatar">
        </div>        
      </div>
    </div>
    <div class="profile-settings-btn">
      <button class="btn btn-dark mb-3" type="submit">Register!</button>
    </div>
  </form>
</div>

{% endblock content %}
