{% extends "inc/base.html" %}

{% load static %}

{% block content %}

<h1>Sign in</h1>
<div class="profile-settings">
    <div class="row">
      <div class="col-2 new-question-title">
        Login
      </div>
      <div class="col-8">
        <input class="form-control is-invalid new-question-fields-error new-question-title" 
        placeholder="Enter your login..." aria-describedby="validationServer03Feedback">
        <div id="validationServer03Feedback" class="invalid-feedback new-question-fields">This login already exists</div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        Email
      </div>
      <div class="col-8">
        <input class="form-control new-question-fields" placeholder="Enter your email...">
    </div>
    </div>
    <div class="row">
        <div class="col-2">
          NickName
        </div>
        <div class="col-8">
          <input class="form-control new-question-fields" placeholder="Enter your nickname...">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
          Password
        </div>
        <div class="col-8">
            <input type="password" class="form-control new-question-fields" placeholder="Enter your password...">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
          Repeat password
        </div>
        <div class="col-8">
            <input type="password" class="form-control new-question-fields" placeholder="Repeat password...">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
          Upload avatar
        </div>
        <div class="col-8">
            <div class="profile-settings-avatar">
                <img src="{% static "img/gigachad-avatar.jpg" %}" alt="avatar">
            </div>
            <input type="file" class="form-control-file">
            <div class="profile-settings-btn">
                <a class="btn btn-dark mb-3" href="{% url "index" %}">Register!</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}