{% load static %}

<div class="question-likes">
    <div class="row">
      <div class="col-1">
        <img src="{% static "img/suit-heart.svg" %}" alt="likes">
      </div>
      <div class="col-5 counter">{{ item.rating }}</div>
      <div class="col-1">
        <div class="question-likes-arrows">
          <img type="button" class="btn-arrow-up" data-id="{{item.id}}"  src="{% static "img/arrow-up-short.svg" %}">
          <img type="button" class="btn-arrow-down" data-id="{{item.id}}" src="{% static "img/arrow-down-short.svg" %}">
        </div>
      </div>
    </div>
  </div>